<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="form-group row mt-3 mb-3">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                        <h1>Caja <small>Chica</small></h1>
                        <p>En esta sección podrás consultar a detalle los ingresos y egresos no facturables.</p>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" hidden>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2>Porcentajes  <small>de Egresos</small></h2>
                    <div id="flotPie1" class="flot-chart mt-4"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                     
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 mb-3 text-center">
                        </div>
                        <div class="col-lg-4 mb-3 text-center">
                            <h1>Tabla <small>de Egresos</small></h1>
                            <p>Esta es la tabla de egresos.</p>
                        </div>
                        <div class="col-lg-4 mb-3 text-right">
                            <a href="/agregarEgreso" class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Agregar</a>
                        </div>
                    </div>
                    <div class="table-responsive text-center">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Concepto</th>
                                    <th>Monto</th>
                                    <th>Fecha Egreso</th>
                                    <th>Facturado</th>
                                    <th>Usuario</th>
                                    <th>Método de pago</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each gasto}}
                                <tr>
                                    <td>{{idGasto}}</td>
                                    <td>{{conceptoGasto}}</td>
                                    <td>{{monto}}</td>
                                    <td>{{fechaGasto}}</td>
                                    <td> {{#switch facturado}}
                                            {{#case '0'}}  
                                                <h6>No</h6>
                                            {{/case}} 
                                            {{#case '1'}}
                                                <h6>Si</h6>
                                            {{/case}}
                                        {{/switch}}
                                    </td>
                                    <td>{{nombres}}</td>
                                    <td>{{metodo}}</td>
                                    <td>
                                        <span>
                                            <a href="/editarEgreso/{{idGasto}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">
                                                <i class="fa fa-pencil color-muted m-r-5"></i> 
                                            </a><a onclick="alertaEliminarGasto({{idGasto}})" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar">
                                                <i class="fa fa-close color-danger"></i>
                                            </a>
                                            <script>
                                                function alertaEliminarGasto(idGasto){
                                                    var opcion = confirm('¿Desea eliminar este Gasto?');
                                                    if(opcion == true){
                                                        location.href = '/eliminarGasto/'+idGasto;
                                                    }     
                                                }
                                            </script>
                                        </span>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Concepto</th>
                                    <th>Monto</th>
                                    <th>Fecha Egreso</th>
                                    <th>Facturado</th>
                                    <th>Usuario</th>
                                    <th>Método de pago</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 mb-3 text-center">
                        </div>
                        <div class="col-lg-4 mb-3 text-center">
                            <h1>Tabla <small>de Ingresos</small></h1>
                            <p>Esta es la tabla de ingresos.</p>
                        </div>
                        <div class="col-lg-4 mb-3 text-right">
                            <a href="/agregarIngreso" class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Agregar</a>
                        </div>
                    </div>
                    <div class="table-responsive text-center">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    
                                    <th>Concepto</th>
                                    <th>Monto</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Facturado</th>
                                    <th>Proyecto</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each ingreso}}
                                <tr>
                                    
                                    <td>{{conceptoIngreso}}</td>
                                    <td>{{monto}}</td>
                                    <td>{{fechaGasto}}</td>
                                   <td> {{#switch facturado}}
                                            {{#case '0'}}  
                                                <h6>No</h6>
                                            {{/case}} 
                                            {{#case '1'}}
                                                <h6>Si</h6>
                                            {{/case}}
                                        {{/switch}}
                                    </td>
                                    <td>{{nombre}}</td>
                                    <td>
                                        <span>
                                            <a href="/editarIngreso/{{idIngreso}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">
                                                <i class="fa fa-pencil color-muted m-r-5"></i> 
                                            </a><a onclick="alertaEliminarIngreso({{idIngreso}})" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar">
                                                <i class="fa fa-close color-danger"></i>
                                            </a>
                                            <script>
                                                function alertaEliminarIngreso(idIngreso){
                                                    var opcion = confirm('¿Desea eliminar este Ingreso?');
                                                    if(opcion == true){
                                                        location.href = '/eliminarIngreso/'+idIngreso;
                                                    }     
                                                }
                                            </script>
                                        </span>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Monto</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Facturado</th>
                                    <th>Proyecto</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="text-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>