<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                            <a href="javascript: history.go(-1)" class="btn btn-primary"><i class="fas fa-arrow-left" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                            <h1>Editar <small>Egreso</small></h1>
                            <p>En esta sección podrás editar el egreso seleccionado.</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                        </div>
                    </div>
                    <div class="form-validation">
                        <form class="form-valide" action="/editarEgreso/{{info.idGasto}}" method="post">
                            <div class="row">
                                <div class="col-lg-4 mb-4">
                                    <label class="form-label" for="nombres">Usuario</label>
                                    <select class="form-control" id="idUsuario" name="idUsuario">
                                        <option selected value="{{info2.idEmpleado}}">{{info2.nombres}} {{info2.primerApellido}} {{info2.segundoApellido}}</option>
                                        {{#each result2}}
                                            <option value="{{idEmpleado}}">{{nombres}} {{primerApellido}} {{segundoApellido}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <label class="form-label" for="nombres">Concepto</label>
                                    <select class="form-control" id="idConceptoGasto" name="idConceptoGasto">
                                        <option selected value="{{info4.idConceptoGasto}}">{{info4.conceptoGasto}}</option>
                                        {{#each concepto}}
                                            <option value="{{idConceptoGasto}}">{{conceptoGasto}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <label class="form-label" for="nombres">Monto</label>
                                    <input type="text" class="form-control" id="monto" name="monto"value="{{info.monto}}" placeholder="Ingrese el monto total del egreso" required pattern="([0-9]{1,3}[,])?([0-9]{3}[,])?[0-9]{1,3}[.][0-9]*">
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <label class="form-label" for="nombres">Fecha</label>
                                    <input type="date" class="form-control" id="fechaGasto" name="fechaGasto" placeholder="Ingrese la fecha del egreso (yyyy-mm-dd)"required >
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <label class="form-label" for="nombres">Método de pago</label>
                                    <select class="form-control" id="idMetodoDePago" name="idMetodoDePago">
                                        <option selected value="{{info3.idMetodoDePago}}">{{info3.metodo}}</option>
                                        {{#each result4}}
                                            <option value="{{idMetodoDePago}}">{{metodo}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <label class="form-label" for="nombres">Facturado</label>
                                    <select class="form-control" id="facturado" name="facturado">
                                        <option>
                                            {{#if info.facturado}}
                                                <p>Facturable</p>
                                            {{else}}
                                                <p>No Facturable</p>
                                            {{/if}}
                                        </option>
                                        <option value="1">Facturable</option> 
                                        <option value="0">No facturable</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto  text-right">
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-save mr-2"></i>Guardar</button>
                                        <a href="javascript: history.go(-1)" type="button" class="btn btn-outline-primary"><i class="fas fa-times-circle mr-2"></i>Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>